 body{
    background-color:#EAFDFC
  }

  hr {
    background-color:#EAFDFC;
    border-style: dotted none none none;
    border-color: gray;
    border-width: 5px;
    width: 5%;
  }
  h1{
    color: #66BFBF;
  }
  h3{
    color: #66BFBF;
  }
  h4{
    color: #82AAE3;
  }
